.navbar {
    background-color: #333333;
    text-align: center;
}

.title {
    color: lightgray;
    text-align: center;
    font-size: 2rem;
    display: block;
}

.siderbar {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
}