.tasks {
    padding: 1rem;
}

legend {
    font-weight: 800;
}

textarea {
    resize: none;
}

label {
    display: block;
}

fieldset {
}

#id-project,
#id-deadline,
#id-content {
    margin: 0 auto;
}

.buttons {
    padding: 0.5rem;
}

.label {
    display: block;
}