<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.5, maximum-scale=2.0"/>
    {% block css %}{% endblock %}
</head>
<body>
<div class="siderbar pure-u-1-4 pure-u-md-1-4">
    <h1 class="title">项目管理工具</h1>
    <h2 class="title">今日时间</h2>
</div>
<div class="tasks pure-u-3-4 pure-u-md-3-4">
    {% block body %}
    {% endblock %}
</div>

{% block script %}
{% endblock %}
</body>
</html>
