{% extends 'base.html' %}

{% block title %}项目管理器{% endblock %}

{% block css %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-core-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-min.css') }}">
{% endblock %}

{% block body %}
    <div id="task-list" class="flex-container">

        {% for task in tasks %}
            {% if not task.finish %}
                <div class="panel flex-item" data-id="{{ task.id }}">
                    <h3 class="panel-title panel-assets">[{{ task.id }}] {{ task.project }}</h3>
                    <button class="cancle" name="delete">X</button>
                    <p class="panel-assets">{{ task.creat_time }}</p>
                    <hr class="panel-assets"/>
                    <p class="panel-content">{{ task.task_content }}</p>
                    <button class="finish pure-button pure-button-primary" name="edit">CLEAR</button>
                </div>>
            {% elif config.show_finished_item %}
                <div class="panel flex-item" data-id="{{ task.id }}">
                    <h3 class="panel-title panel-assets fin">[{{ task.id }}] {{ task.project }}</h3>
                    <button class="cancle" name="delete">X</button>
                    <p class="panel-assets">{{ task.creat_time }}</p>
                    <hr class="panel-assets"/>
                    <p class="panel-content fin">{{ task.task_content }}</p>
                    <button class="finish pure-button pure-button-disabled" name="edit">CLEAR</button>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/base.js') }}?v={{ v }}"></script>
    <script src="{{ url_for('static', filename='js/task.js') }}?v={{ v }}"></script>
    <script src="{{ url_for('static', filename='js/clock.js') }}?v={{ v }}"></script>
{% endblock %}
