{% extends 'base.html' %}

{% block title %}项目管理器{% endblock %}

{% block css %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-core-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-min.css') }}">
{% endblock %}

{% block body %}
    <div class="flex-container">
        {% for i in range(10) %}
            <div class="panel flex-item">
                <p class="task-time">Test Panel {{ i }}</p>
                <p class="task-title">Test Panel {{ i }}</p>
                <p class="task-content">Test Panel {{ i }}</p>
                <button class="pure-button pure-button-primary" name="finished">FINISH</button>
                <button class="pure-button pure-button-primary" name="cancle">CANCLE</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
