{% extends 'base.html' %}

{% block title %}项目管理器{% endblock %}

{% block css %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-core-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-min.css') }}">
{% endblock %}

{% block body %}
    <div id="task-list" class="flex-container">
        {% for task in tasks %}
            <div class="panel flex-item" data-id="{{ task.id }}">
                {% if task.finish %}
                    <p class="task-time"><s>[ID-{{ task.id }}] {{ task.time }}</s></p>
                    <p class="task-title"><s>{{ task.project }}</s></p>
                    <p class="task-content"><s>{{ task.content }}</s></p>
                    <button class="finish pure-button pure-button-disabled" name="finished">FINISH</button>
                    <button class="cancle pure-button pure-button-primary" name="cancle">CANCLE</button>

                {% else %}
                    <p class="task-time">[ID-{{ task.id }}] {{ task.time }}</p>
                    <p class="task-title">{{ task.project }}</p>
                    <p class="task-content">{{ task.content }}</p>
                    <button class="finish pure-button pure-button-primary" name="finished">FINISH</button>
                    <button class="cancle pure-button pure-button-disabled" name="cancle">CANCLE</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/base.js') }}?v={{ v }}"></script>
    <script src="{{ url_for('static', filename='js/task.js') }}?v={{ v }}"></script>
{% endblock %}
