{% extends 'base.html' %}

{% block title %}新建{% endblock %}

{% block css %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-core-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms-min.css') }}">
{% endblock %}

{% block body %}
    <form class="form pure-form pure-form-stacked" action="{{ url_for('public.task_new_add') }}" method="post">
        <fieldset>
            <legend>ADD A NEW TASK</legend>
            <label for="id-project">Project Name</label>
            <input id='id-project' class="pure-input-1" name="project" type="text" autocomplete="off">

            <div class="pure-g">
                <label for="id-year" class="pure-u-1">Deadline</label>
                <input id='id-year' class="pure-input-1-4" name="year" type="text" placeholder="YEAR"
                       autocomplete="off">
                <input id='id-month' class="pure-input-1-4" name="month" type="text" placeholder="MONTH"
                       autocomplete="off">
                <input id='id-day' class="pure-input-1-4" name="day" type="text" placeholder="DAY" autocomplete="off">
                <button id="id-add-day" class="pure-button adbtn" type="button">+</button>
                <button id="id-dec-day" class="pure-button adbtn" type="button">-</button>
            </div>
            <label for="id-content">Content</label>
            <textarea id='id-content' class="pure-input-1" name="task_content" autocomplete="off" rows="10"></textarea>

            <div class="buttons">
                <button class="pure-button pure-button-primary" type="submit">SUBMIT</button>
            </div>
            <div id="id-project-list">
                {% for p in project %}
                    <p class="project-list">{{ p }}</p>
                {% endfor %}
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/new.js') }}"></script>
{% endblock %}
